<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class="item" action="/compose" method="post">
    <div class="mb-3 form-group">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="newitem" placeholder="Title" autocomplete="off">
    </div>

    <div class="mb-3 form-group">
      <label for="post" class="form-label">Post</label>
      <textarea rows="8" cols="80" name="newitempost" class="form-control" placeholder="New Post" required></textarea>
    </div>


    <button type="submit" class="btn btn-primary" name="list">Compose</button>

</form>

<%- include('partials/footer'); -%>
